*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

button {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    margin: 0;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    text-decoration: none;
    font-size: 28px;
    color: #B9480B;
  }

  a:hover {
    text-decoration: underline;
    color: #9A2E04;
  }

  body {
    padding-top: 30px;
    background-color: #EBC186;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }

  h1 {
    color: #9A2E04;
    font-size: 52px;
    text-align: center;
  }

  p {
    margin: 40px;
    color: #571a02;
    font-size: 24px;
  }

  li {
    display: block;
    width: 140px;
    height: 40px;
    text-align: center;
  }

  img {
    display:block;
    margin: 0 auto;
    border-radius: 30px;
  }

  .contacts {
    text-align: center;
  }
